.about-us {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-dark);
  padding: 60px 0;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1100px;
  align-items: center;
  gap: 40px;
}

.image-container {
  flex: 1;
  position: relative;
  display: inline-block;
}

.image-container::before {
  content: "";
  position: absolute;
  top: -2%;
  left: -2%;
  width: 30%;
  aspect-ratio: 1 / 1;
  border: 3px solid var(--color-accent);
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.content {
  flex: 1;
}

.subtitle {
  color: var(--color-accent);
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

h2 {
  font-size: 54px;
  line-height: 62px;
  margin: 10px 0;
}

p {
  font-size: 16px;
  color: var(--color-gray-dark);
  line-height: 1.6;
}

.stats {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.stat-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.number {
  font-size: 72px;
  line-height: 84px;
}

.number__accent {
  color: var(--color-accent);
}

.label {
  font-size: 14px;
  color: var(--color-gray-light);
}

.button__about {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid var(--border-color);
  min-height: 75px;
  min-width: 237px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--border-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button__about:hover {
  background-color: var(--border-color);
  color: var(--color-light);
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      text-align: center;
  }

  .stats {
      flex-direction: column;
      align-items: center;
  }

  .image-container::before {
      width: 20%;
  }

  h2 {
      font-size: 36px;
      line-height: 42px;
  }

  .number {
      font-size: 48px;
      line-height: 56px;
  }

  .button__about {
      min-width: 100%;
  }
}